@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.headertext {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  background-image: url('./spices_background.jpg');
  background-size: 100%;
  height: 960px;
  
}